<h2>Eventos</h2>
<hr />

<div class="row g-3 mb-3 align-items-center">
  <div class="col-auto">
    <label class="mr-2">Filtro:</label>
  </div>
  <div class="col-auto">
    <input
      type="text"
      class="form-control"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button
          type="button"
          class="btn btn-outline-light btn-sm"
          (click)="alterarImagem()"
        >
          {{ !mostrarImagem ? 'exibir' : 'ocultar' }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos">
    <tr *ngFor="let evento of eventosFIltrados">
      <td>
        <img
          [collapse]="!mostrarImagem"
          [isAnimated]="true"
          src="/assets/img/{{ evento.imagemURL }}"
          [style.height.px]="100"
        />
      </td>
      <td>{{ evento.eventoId }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td>
          <button type="button" class="btn btn-primary btn-sm mx-2">Editar</button>
          <button type="button" class="btn btn-danger btn-sm">Excluir</button>
        </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
